{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}
{% block stylesheets %}
    {{parent()}}
    <link rel="stylesheet" href="{{ asset('build/css/register.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('build/css/secondary-style.css') }}">
{% endblock %}
{% block body %}


                        <div id="register" class="my-4">
                           <div class="login-inner">
                                <div class="title">
                                    <h1>Rejoignez <span>nous!</span></h1>
                                </div>
                                <div class="login-form">
                                    <form id="registerForm" action="{{path('register')}}" method="POST">
                                        <div class="form-details">
                                            <label class="user">
                                                <input type="text" name="nom" placeholder="Nom" id="username">
                                            </label>
                                            <label class="user">
                                                <input type="text" name="prenom" placeholder="Prenom" id="username">
                                            </label>
                                            <label class="mail">
                                                <input type="email" name="email" placeholder="Adresse mail" id="mail">
                                            </label>
                                            <label class="pass">
                                                <input type="password" name="password" placeholder="Mot de passe" id="password">
                                            </label>
                                            <label class="pass">
                                                <select class="custom-select" id="inlineFormCustomSelect" name="type" style="border-style: none none solid;">
{#                                                    <option selected>Qui êtes vous ?</option>#}
                                                    <option value="Celleneuvois">Celleneuvois</option>
                                                    <option value="Agriculteur">Agriculteur</option>
{#                                                    <option value="3">Three</option>#}
                                                  </select>
                                            </label>
                                        </div>
                                        <button type="submit" class="form-btn">Valider</button>
                                    </form>
                                </div>
                            </div>
                        </div>

<script src="{{ asset('build/js/register.js') }}"></script>
{% endblock %}
