{% extends 'base.html.twig' %}

{% block title %} 
Forum
{% endblock %}
{% block style %}
    {{ parent() }}
    <link href="{{ asset('build/css/forum-style.css') }}"  rel="stylesheet" type="text/css">
{% endblock %}

{% block body %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="{{ path('home') }}">ESPERLUETTE</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{{ path('home')}}">Accueil <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
          </ul>
        </div>
      </div>
  </nav>


 <div class="container">

      <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-md-8 my-4" id="tabForum">
            <div class="msgListing">
            {% for message in sujet.messages %}
                <div class="card mb-2">
                    <div class="card-body">
                        <div class="card-title cardMessage">
                            <span class="card-title nomPrenomMessage"><strong>{{ message.auteur.prenom }} {{ message.auteur.nom }}</strong></span><span class="float-right">{{ message.dateCreation|date("d/m/Y  H:i:s")}}</span>
                        </div><hr>
                    <p class="card-text">{{ message.corps}}</p>
                    </div>
                </div>
            {% endfor %}
            </div>
            <hr id="endMessage">
            
            <div class="form-group">
  <label for="comment">Réponse :</label>
  <textarea class="form-control" rows="5" id="comment"></textarea>
            <button class="btn btn-success mt-1 float-right" id="reponseSujet">Répondre</button
            <!-- textarea hidden suite à un bug d'affichage indeterminer -->
{#            <textarea class="form-control hidden" rows="5" id="comment"></textarea>#}
    </div>
        </div>

        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">

          <!-- Categories Widget -->
          <div class="card my-4">
            <h5 class="card-header">Sections</h5>
            <div class="card-body">
              <div class="row">
                <div class="col-lg-12">
                  <ul class="list-unstyled mb-0" id="btnCatForum">
                    {% for theme in themes %}
                        <a href="#tab{{ theme.theme }}" class="list-group-item">
                            <i class="fa fa-comment-o"></i> {{ theme.theme }}
                        </a>
                    {% endfor %}
                  </ul>
                </div>

              </div>
            </div>
          </div>

          <!-- Side Widget -->
          <div class="card my-4">
            <h5 class="card-header">Dernière publication</h5>
            <div class="card-body">
              You can put anything you want inside of these side widgets. They are easy to use, and feature the new Bootstrap 4 card containers!
            </div>
          </div>

        </div>

      </div>
      <!-- fin de la row -->

    </div>
    <!-- fin du container -->


<script src="{{ asset('build/js/jquery-3.3.1.js') }}"></script>
<script src="{{ asset('build/js/forum.js') }}"></script>
<script src="{{ asset('build/js/message.js') }}"></script>
{% endblock %}
